
.icon-cancel-circled:before { content: '\e802'; } /* '' */
.icon-plus-circled:before { content: '\e803'; } /* '' */
.icon-ok-circled:before { content: '\e804'; } /* '' */
.icon-ok-circled2:before { content: '\e805'; } /* '' */
.icon-lock-circled:before { content: '\e801'; } /* '' */